{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo01</title>
</head>
<body>
    <form>
        {% csrf_token %}

        {{ formset.management_form }}


        {% for form in formset %}
        <div class="form">
            {{form}}
            <div class="formset-wrapper-add">

            </div>
            <div class="formset-wrapper-delete"></div>
            <div class="formset-wrapper-order"></div>
        </div>
        {% endfor %}
    </form>
    <script src="{% static 'DjangoFormSet.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{% static 'jquery.formset.js' %}"></script>
    <script>
        var formset = new DjangoFormset(".form", {
            prefix : "{{formset.prefix}}",
            canDelete: {{formset.can_delete|yesno:"true,false"}},
            canOrder: {{formset.can_order|yesno:"true,false"}},
        });
        formset.setup();
    </script>
</body>
</html>
