{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo01</title>
</head>
<body>
    <form>
        {% csrf_token %}

        {{ formset.management_form }}


        {% for form in formset %}
        <div class="form">
            {{form}}
            <div class="formset-wrapper-add">

            </div>
            <div class="formset-wrapper-delete"></div>
            <div class="formset-wrapper-order"></div>
        </div>
        {% endfor %}
    </form>
    <script src="{% static 'DjangoFormSet.js' %}"></script>
    <script>
        var formset = new DjangoFormset(".form", {
            prefix : "{{formset.prefix}}",
            canDelete: {{formset.can_delete|yesno:"true,false"}},
            canOrder: {{formset.can_order|yesno:"true,false"}},
            autoId : "{{formset.auto_id}}"
        });
        formset.setup();
        formset.onBeforeAdd((event) => {
            console.log("before Log");
        });
        formset.onAfterAdd((event) => {
            console.log("after Log");
        });
    </script>
</body>
</html>
